
body {
  margin: 0;
}
h1 {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-family: "Roboto", sans-serif;
  text-align: left;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: bolder;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
  margin-top: 0px;
}

/* Styles for the XPERT logo */
.logo {
  font-size: 24px;
  font-weight: bold;
}

/* Styles for the navbar links */
.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav-links a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-weight: bolder;
  color: white;
  box-shadow: inset 0 0 0 0 #50AF70;
  padding: 0 .40rem;
  margin: 0 20px 0 -.25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.nav-links a:visited {
  color: white;
}

.nav-links a:hover {
  box-shadow: inset 100px 0 0 0 #50AF70;
  color: white;
}
.Not-logged-in-header{
  background-image: url("pictures/log.jpg");
  background-size: cover;
  background-position: center;
  color: rgb(16, 15, 15);
  padding: 100px;
  height: 360px;
}
.Not-logged-in-header h1{
  text-align: center;
  background-color: #50AF70;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
}

.form {
  margin-left: auto;
  margin-right: auto;
  margin-top: -360px;
  width: 35%;
  background-color: #50AF70;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-weight: bolder;
  color: azure;
  text-align: center;
  /* Center the text-align property within the form */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5);

}
form{
  margin-bottom: 50px;
  margin-top: 20px;
  
}
.title{
  font-size: 30px;
  margin-right: 70%;
  margin-top: 5%;
  margin-bottom: 5%;
  
}
.element-with-shadow {
  width: 100%; /* Adjust the width and height as needed */
  height: 0.5px;
  background-color: #fff; /* Set the background color of the element */
  box-shadow: 0px 0px 3px 0px rgba(238, 226, 226, 0.5);
}

input, button, select {
  padding: 5px;
  margin: 4px;

}

.form input[type="submit"] {
  width: 90%;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  letter-spacing: 5px;
}

.container{
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100%;
}

.footer {
  background-color: black;
  padding: 30px;
  text-align: center;
  color: white;
}
